@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

body {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: radial-gradient(circle at center, #e6e6e9 0%, #dbdce0 100%);
}

.container {
   width: 80%;
   height: 80vh;
   display: flex;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.image-form {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   background-color: #aaaaaa;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.image-form img {
   width: 35rem;
}

.form {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
   padding: 3rem;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.form-header {
   margin-bottom: 3rem;
   display: flex;
   justify-content: space-between;
}

.form-login-bt {
   display: flex;
   align-items: center;
}

.form-login-bt button {
   border: none;
   background-color: #6c63ff;
   padding: .4rem 1rem;
   border-radius: 5px;
   cursor: pointer;
}

.form-login-bt button:hover {
   background-color: #6b63fff1;
}

.form-login-bt a {
   text-decoration: none;
   font-weight: 500;
   color: #fff;
}

.form-header h1::after {
   content: '';
   display: block;
   width: 9rem;
   height: .3rem;
   background-color: #6c63ff;
   margin: 0 auto;
   position: absolute;
   border-radius: 10px;
}

.form-input-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 1rem 0;
}

.input-box {
   display: flex;
   flex-direction: column;
   margin-bottom: 1.1rem;
}

.input-box input {
   margin: .6rem 0;
   padding: .8rem 1.2rem;
   border: none;
   border-radius: 10px;
   box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
   background-color: #eeeeee75;
}

.input-box input:focus-visible {
   outline: 1px solid #6c63ff;
}

.input-box label, .gender-title h6 {
   font-size: .75rem;
   font-weight: 600;
   color: #000000be;
}

.gender-group {
   display: flex;
   justify-content: space-between;
   margin-top: .62rem;
   padding: 0 .5rem;
}

.gender-input {
   display: flex;
   align-items: center;
}

.gender-input input {
   margin-right: .35rem;
}

.gender-input label {
   font-size: .81rem;
   font-weight: 600;
   color: #000000c0;
}

.continue-bt button {
   width: 100%;
   margin-top: 2.5rem;
   border: none;
   background-color: #6c63ff;
   padding: .62rem;
   border-radius: 5px;
   cursor: pointer;
}

.continue-bt button:hover {
   background-color: #6b63fff1;
}

.continue-bt button a {
   text-decoration: none;
   font-size: .93rem;
   font-weight: 500;
   color: #fff;
}

@media screen and (max-width: 1330px) {
   .image-form {
      display: none;
   }

   .container {
      width: 50%;
   }

   .form {
      width: 100%;
   }
}

@media screen and (max-width: 1064px) {
   .container {
      width: 80%;
      height: auto;
   }

   .form-input-group {
      flex-direction: column;
      overflow-y: scroll;
      flex-wrap: nowrap;
      max-height: 10rem;
      padding-right: 5rem;
   }

   .gender-inputs {
      margin-top: 2rem;
   }

   .gender-group {
      flex-direction: column;
   }

   .gender-input {
      margin-top: .5rem;
   }
}

@media screen and (max-width: 500px) {
   .container {
      width: 90%;
      height: auto;
   }
}